<section class="flex flex-col p-10">
    <div class="flex justify-between">
        <strong class="text-4xl">Exercise Library</strong>
    </div>
    <p class="pt-2">Manage and organize your curated physical and educational database.</p>

    <div class="flex justify-between items-center pt-6">
        <div class="flex gap-2">
            <lifters-button variant="btn btn-info"><p text>All exercises</p></lifters-button>
            <lifters-button variant="btn btn-info"><p text>Strenght exercises</p></lifters-button>
            <lifters-button variant="btn btn-info"><p text>Cardio exercises</p></lifters-button>
        </div>

        <div>
            <lifters-button variant="btn btn-success"><p text>Add new exercise</p></lifters-button>
        </div>
    </div>
</section>
