<section class="flex justify-center">
    <training-plan-container-component weeks="3" category="Strength" name="Recovery training" description="hard training" [color]="'blue-600'"></training-plan-container-component>
    <training-plan-container-component weeks="6" category="Speed" name="Striker training" description="hard training" [color]="'blue-600'"></training-plan-container-component>
    <training-plan-container-component weeks="12" category="Strength" name="Gym training" description="hard training" [color]="'blue-600'"></training-plan-container-component>
    <training-plan-container-component weeks="20" category="Resistance" name="Tank training" description="hard training" [color]="'blue-600'"></training-plan-container-component>
</section>